<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757875583003-n1eoc8179q7bvoqpp7p4jlpo72ufbt4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757875583003-n1eoc8179q7bvoqpp7p4jlpo72ufbt4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757875583003-1j8785nb1dlhg9lvtn4a8esmlm5o3cbm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMtXTRYuYtZk4UImlDi6uDxN8WNu6MoNU</string>
	<key>GCM_SENDER_ID</key>
	<string>757875583003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flower-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-firebase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757875583003:ios:88503b5e4d746c55efb0be</string>
</dict>
</plist>